name: Go (posix-pattern)

on:
  push:
    branches: [ main ]
  pull_request:

permissions: {}

jobs:
  go:
    uses: openconfig/common-ci/.github/workflows/basic_go.yml@88a41b190576ebf6d51b5204c1056af2bda19036
    permissions:
      contents: read
      packages: read
      # To report Github Actions status checks
      statuses: write
