name: openconfig/public

on:
  pull_request:
    branches: [ main ]

jobs:

  pattern:
    name: pattern statement
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
          python-version: '3.x'

    - name: Set up pyang
      run: pip3 install setuptools pyang

    - name: Get public repo
      run: git clone https://github.com/openconfig/public.git /tmp/public

    - name: Demo output on openconfig/public
      run: |
          find "$OCDIR/regexp-tests" -name "*.yang" -print0 | xargs -0 pytests/pattern_test.sh
      env:
          OCDIR: /tmp/public

  posix-pattern:
    name: posix-pattern statement
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      # Use default go version so that we don't have to update it every time a new one comes out.
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: go build -v ./...

    - name: Get public repo
      run: git clone https://github.com/openconfig/public.git /tmp/public

    - name: Demo output on openconfig/public
      run: |
          find "$OCDIR/regexp-tests" -name "*.yang" -print0 | xargs -0 go run gotests/main.go -model-root "$OCDIR"
      env:
          OCDIR: /tmp/public
