name: pyang (XSD pattern statement)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
          python-version: '3.x'

    - name: Set up pyang
      run: pip3 install pyang

    - name: Set up oc-pyang
      run: git clone https://github.com/openconfig/oc-pyang.git

    - name: Run test
      run: PYTHONPATH=$PYTHONPATH:`pwd`/oc-pyang pytests/tests/plugin_test.sh
